# C#
sim/CarsApi/bin/
sim/CarsApi/obj/
sim/CarsApi/.vs/
sim/CarsApi/Properties/launchSettings.json
sim/CarsApi/Properties*

# Tests
sim/CarsApi.Tests/bin/
sim/CarsApi.Tests/obj/

# React
sim/CarAlignmentSim/node_modules/
sim/CarAlignmentSim/dist/
sim/CarAlignmentSim/.vite/

# IDE
.vscode/
.idea/
*.suo
*.user
*.sln.docstates