# C#
CarsApi/bin/
CarsApi/obj/
CarsApi/.vs/
CarsApi/Properties/launchSettings.json
CarsApi/Properties*

# Tests
CarsApi.Tests/bin/
CarsApi.Tests/obj/

# React
CarAlignmentSim/node_modules/
CarAlignmentSim/dist/
CarAlignmentSim/.vite/

# IDE
.vscode/
.idea/
*.suo
*.user
*.sln.docstates